[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pymysql = "*"
django-cors-headers = "*"
certifi = "*"
djangorestframework-jwt = "*"
djangorestframework = "*"
whitenoise = "*"
python-magic = "*"

[requires]
python_version = "3.7"
