{% load staticfiles %}
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container center">

            <p class="footer-disclaimer center">
                The Recruitment Portal, Designed and Developed
                by the Software Development Cell, University School of Information, Communication &amp; Technology (USICT).
              Suggestions/Discrepancies (if any) mail at :- rahul@ipu.ac.in</p>

        </div>
    </div>
</footer>

<style>
    footer {
    text-align: center;
    background-color: #1A237E !important;
    position: absolute;
    bottom: 0px;
        width: 100%;
}

footer.page-footer {
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.footer-disclaimer {
    line-height: 2em !important;
    font-family: Lato;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
</style>