{% load static %}
<header>
    <nav>
        <div class="nav-wrapper">
            <img class="left logo-img" height="100" style="position: relative !important;z-index: 10;" src="{% static 'images/logomain.png' %}" >

            <span href="/" class="brand-logo center main-title">GURU GOBIND SINGH INDRAPRASTHA UNIVERSITY</span>
        </div>
    </nav>

    <nav>
        <div class="nav-wrapper sub-nav">
            <span href="#" class="brand-logo center sub-title">NAAC PORTAL</span>
        </div>
    </nav>
</header>

<link rel="stylesheet" href="{% static 'css/head.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">