{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select School</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link href="{% static 'employee/style.css' %}">
    <script src="{% static 'employee/js/jquery.js' %}"></script>
</head>
<body>
{% include 'employee/head.html' %}
{% include "employee/header.html" %}
<div class="container">
    <div class="container">
    <form action="{% url 'employee:login' %}" method="post">
        {% csrf_token %}
    <div class="input-field col s12 school">
        <div class="card hoverable">
            <div class="card-content">
              <span class="card-title bold">Select School</span>
              <p>
                  <select name="school" class="selection validate">
                      <option value="" disabled selected>Choose Your Option</option>
                      <option value="usict">USICT</option>
                      <option value="usbt">USBT</option>
                      <option value="usct">USCT</option>
                  </select>
              </p>
                {% if error_school %}
                    <div class="red-text">Please Select School From List</div>
                {% endif %}
            </div>
            <div class="card-action right-align">
                <button class="btn waves-effect waves-light  indigo darken-4" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
          </div>
  </div>
    </form>
</div>
        </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script>
    $(document).ready(function() {
        $('select').material_select();
        $('.select-dropdown').attr('name','school')
    });
</script>

{% load staticfiles %}
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container center">

            <p class="footer-disclaimer center">
                The Recruitment Portal, Designed and Developed
                by the Software Development Cell, University School of Information, Communication &amp; Technology (USICT).
              Suggestions/Discrepancies (if any) mail at :- rahul@ipu.ac.in</p>

        </div>
    </div>
</footer>

<style>
    footer {
    text-align: center;
    background-color: #1A237E !important;
        position: absolute;
        bottom: 0px;
        width: 100%;
}

footer.page-footer {
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.footer-disclaimer {
    line-height: 2em !important;
    font-family: Lato;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
</style>
</body>

</html>