{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select School</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link href="{% static 'employee/style.css' %}">
    <script src="{% static 'employee/js/jquery.js' %}"></script>
    <style>
        tr{
        cursor: pointer;
        }
    </style>
</head>
<body>
{% include 'employee/head.html' %}
{% include "employee/header.html" %}
    <div class="container">
    <form action="{% url 'employee:login' %}" method="post">
        {% csrf_token %}
    <div class="input-field col s12 school">
        <div class="card hoverable">
            <div class="card-content">
              <span class="card-title bold">Select School</span>
              <p>
              <table class="striped">
                    <thead>
                      <tr>
                          <th>&nbsp;&nbsp;Name</th>
                          <th>&nbsp;&nbsp;Id</th>
                          <th>&nbsp;&nbsp;Email</th>
                          <th>&nbsp;&nbsp;Designation</th>
                          <th>&nbsp;&nbsp;School</th>
                      </tr>
                    </thead>
             <tbody>
                {% for x in list %}
                  <tr id="{{ x.instructor_id }}">
                    <td>&nbsp;&nbsp;{{ x.name }}</td>
                    <td>&nbsp;&nbsp;{{ x.instructor_id }}</td>
                    <td>&nbsp;&nbsp;{{ x.email }}</td>
                    <td>&nbsp;&nbsp;{{ x.designation }}</td>
                    <td style="text-transform: uppercase">&nbsp;&nbsp;{{ x.school }}</td>
                  </tr>
                {% endfor %}
            </tbody>
            </table>
              </p>
            </div>
            <div class="card-action right-align">
                <button type="submit" class="btn waves-effect waves-light  indigo darken-4" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
          </div>
  </div>


    <!-- --->

<div class="container login" style="display: none">
<div class="container">
    <div class="input-field col s12">
        <div class="card hoverable">
            <div class="card-content">
              <span class="card-title bold">Enter Details</span>
              <p>
            <div class="row">
        <div class="input-field col s12">
          <input id="empid" type="text" class="validate">
          <label for="empid" class="active">Employee ID</label>
        </div>
                </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="password" class="validate">
                      <label for="password">Password</label>
                    </div>
                  </div>
              </p>
                {% if error_password %}
                    <div class="red-text">Invalid Password</div>
                {% endif %}
            </div>
            <div class="card-action right-align">
                <button class="btn waves-effect waves-light  indigo darken-4" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
          </div>
  </div>
    </div>
  </div>



    </form>
</div>


<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container center">

            <p class="footer-disclaimer center">
                The Recruitment Portal, Designed and Developed
                by the Software Development Cell, University School of Information, Communication &amp; Technology (USICT).
              Suggestions/Discrepancies (if any) mail at :- rahul@ipu.ac.in</p>

        </div>
    </div>
</footer>

<style>
    footer {
    text-align: center;
    background-color: #1A237E !important;
        width: 100%;
}

footer.page-footer {
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.footer-disclaimer {
    line-height: 2em !important;
    font-family: Lato;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script>
    $(document).ready(function() {
        $('tr').click(function(){
            $('.school').css('display','none');
            var id = $(this).attr('id');
            $('.login').css('display','block');
            $("#empid").val(id);
            Materialize.updateTextFields();
            $('footer').css('position','absolute').css('bottom','0px');
        });
    });
</script>
</body>

</html>