<!doctype html>
<html lang="en">
{% include 'includes/head.html' %}
{% include "includes/header.html" %}
<body>
<center><h3>Workshop Form</h3> </center>
    <div class="row">
        <div class="col s12 m4 offset-m4 l4 offset-l4">
            <form action="/workshop/" method="post">
                {% csrf_token %}
                {{ workshopform.as_p }}
                <center><input type="Submit" class="btn" name="Next"></center>
            </form>
        </div>
    </div>

</body>
{% include "includes/footer.html" %}
</html>
